section#menu_rest
  a(name="menu")
  .container
    h2 Меню
    .sl_menu
      .slide
        img(src="images/dishes/1.jpg")
        h3 Филе Миньон
      .slide
        img(src="images/dishes/2.jpg")
        h3 Бургер классический
      .slide
        img(src="images/dishes/3.jpg")
        h3 Говядина на гриле
      .slide
        img(src="images/dishes/4.jpg")
        h3 Крылышки с соусом Блю-чиз
      .slide
        img(src="images/dishes/5.jpg")
        h3  Куриная грудка с брокколи
      .slide
        img(src="images/dishes/6.jpg")
        h3  Рамп-стейк
      .slide
        img(src="images/dishes/7.jpg")
        h3 Салат 'Капрезе'
      .slide
        img(src="images/dishes/8.jpg")
        h3 Стейк Butcher's
      .slide
        img(src="images/dishes/9.jpg")
        h3 Стейк Тибон 'Дьявол'
