section#review
  a(name="review")
  .container
    h2 Ознакомьтесь с отзывами
    h3 наших гостей на сайте TripAdvisor
    ul
      li
        h4: span Для мясоедов
        p Ужин в отдельной комнате - чудесный опыт, каждое блюдо было просто восхитительным и хорошо обставлен. Определенно вернемся!
      li
        h4: span отличное заведение
        p Красивое место, отличная кухня. Что касается обслуживания- неплохо, но есть над чем работать. Были два раза- в целом понравилось.
      li
        h4: span Отличное заведение
        p Отдыхали с коллективом, замечательная кухня, очень хорошо отдохнули. Порадовало отношение персонала к клиентам, все очень быстро и вкусно. Одно из любимых мест теперь в Астане! Кстати цены приемлемые, соответствуют качеству и порциям.
      li
        h4: span вкусно весело
        p сказать что это хорошее заведение ничего не сказать! ЭТОТ МЕГА РЕСТОРАН он уютный там вкусноо ооочень вкусная кухня! мы отмечали с друзьями и семьёй все праздники в марте 2017 года! мы все любим живую музыку так там шикааарный звук!
    h3.review_trap
      span Больше отзывов на сайте — 
      a(href="http://www.tripadvisor.ru") www.tripadvisor.ru
    .trapvisor
      .reviews
        |<div id="TA_rated365" class="TA_rated">
        |<ul id="1Nr5TWZtUJ" class="TA_links 57QUqh">
        |<li id="qIwQG0P94Kqc" class="RyKkusTT">
        |<a target="_blank" href="https://www.tripadvisor.ru/"><img src="https://www.tripadvisor.ru/img/cdsi/img2/badges/ollie-11424-2.gif" alt="TripAdvisor"/></a>
        |</li>
        |</ul>
        |</div>
        |<script src="https://www.jscache.com/wejs?wtype=rated&amp;uniq=365&amp;locationId=11958595&amp;lang=ru&amp;display_version=2"></script>
      .reviews
        |<div id="TA_cdswritereviewnew437" class="TA_cdswritereviewnew">
        |<ul id="dZnfaWymB3br" class="TA_links 6hucdAx">
        |<li id="lDTL7UQUXowN" class="qUZtPZp3C">
        |<a target="_blank" href="https://www.tripadvisor.ru/"><img src="https://www.tripadvisor.ru/img/cdsi/img2/branding/medium-logo-29834-2.png" alt="TripAdvisor"/></a>
        |</li>
        |</ul>
        |</div>
        |<script src="https://www.jscache.com/wejs?wtype=cdswritereviewnew&amp;uniq=437&amp;locationId=11958595&amp;lang=ru&amp;lang=ru&amp;display_version=2"></script>
